@{
    ViewData["Title"] = "Portal Grup Uygulaması";
}

<div class="text-center">
    <h1>Portal Grup Uygulaması</h1>
</div>
<div class="text-center">
    <a asp-action="Index" asp-controller="Customer" class="btn btn-primary align-content-start m-3">Müşteri İşlemleri</a>
    <a asp-action="Index" asp-controller="Application" class="btn btn-warning align-content-end">Uygulama İşlemleri</a>
</div>
